%%{
machine %MACHINENAME%;
action A%GROUPNR% { matches[%GROUPNR%+1].rm_so = p-start; }
action E%GROUPNR% { matches[%GROUPNR%+1].rm_eo = p-start; }
main := %MACHINEDEF% ;
}%%

static int rematch_%MACHINENAME%(const char *p, size_t nmatch, regmatch_t matches[]) {
	const char *start = p, *pe = p + strlen(p), *eof = pe;
	size_t i, cs;
	for(i=0;i<nmatch;++i) matches[i] = (regmatch_t){.rm_so = -1, .rm_eo = -1};
	%% write data;
	%% write init;
	%% write exec;
	if(cs < %%{ write first_final; }%% ) return -1;
	matches[0] = (regmatch_t){.rm_so = 0, .rm_eo = eof-start};
	return 0;
}
