%%{
machine %MACHINENAME%;
action A%GROUPNR% { matches[%GROUPNR%+1].rm_so = p-start; }
action E%GROUPNR% { matches[%GROUPNR%+1].rm_eo = p-start; }
main := %MACHINEDEF% ;
}%%

RE2R_EXPORT int rematch_%MACHINENAME%(const char *p, size_t nmatch, regmatch_t matches[])
{
	size_t i, cs;
	const char *start = p, *pe = p + strlen(p), *eof = pe;
	%% write data nofinal noerror noentry;
	for(i=0;i<nmatch;++i) matches[i] = (regmatch_t){.rm_so = -1, .rm_eo = -1};
	%% write init;
	%% write exec;
	if(cs < %%{ write first_final; }%% ) return -1;
	matches[0] = (regmatch_t){.rm_so = 0, .rm_eo = eof-start};
	for(i=0;i<nmatch;++i) if(matches[i].rm_eo == -1) matches[i].rm_so = -1;
	return 0;
}

